body {
    display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: url(image.png) no-repeat;
      background-size: cover;
      background-position: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .container {
    padding: 16px;
    background-color: rgba(245, 245, 245, 0.027);
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #00000088;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #c9c9c9;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  .registerbtn {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  a {
    color: dodgerblue;
  }